{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursesinfo/main

    This template renders the courses view for the coursesinfo block.

    Example context (json):
    {
    }
}}
{{#studentsTable}}
    <div class="table-responsive no-overflow" id="courseinfotable">
        <table class="generaltable" >

            <thead >
                <tr >
                    <th >{{#str}}courses,block_coursesinfo{{/str}}</th>
                    <th >{{#str}}teacher,block_coursesinfo{{/str}}</th>
                    <th >{{#str}}c_complition,block_coursesinfo{{/str}}</th>
                </tr>
            </thead>
           
            <tbody>
                {{#students}}
                <tr>
                    <td><a href="{{wwwroot}}/blocks/courseactivities/block_activitytable.php?id={{coid}}">{{fullname}}</a></td>
                    <td><a class="theme_text_color1 mr-1" data-action="allteachers" data-id = "{{teachers}}" title="Teachers list" >{{teachersnames}}</a></td>
                    <td>{{cc_percentage}}</td>
                </tr>
                {{/students}}
            </tbody>
            
        </table>

     <div class="float-right m-2">
        <button class="btn text-info" id="seeMoreRecords" onclick="location.href='/moodle/blocks/coursesinfo/block_showtable.php'" type="button">{{#str}}show_more, block_coursesinfo{{/str}}</button> 
     </div>
    </div>
{{/studentsTable}}
{{#teacherTable}}
 <div class="table-responsive no-overflow" id="courseinfotable2">
    <table class="table" >

            <thead >
                <tr>
                    <th>{{#str}}courses,block_coursesinfo{{/str}}</th>
                    <th>{{#str}}students,block_coursesinfo{{/str}}</th>
                    <th>{{#str}}c_complition,block_coursesinfo{{/str}}</th>
                </tr>
            </thead>

            <tbody>
                {{#teacher}}
                <tr>
                    <td><a href="{{wwwroot}}/blocks/courseactivities/block_activitytable.php?id={{coid}}">{{fullname}}</a></td>
                    <td><a class="theme_text_color1 mr-1" data-action="allstudents" data-id ="{{student}}"  title="Students list">{{students}}</a></td>
                    <td>{{cccompletion}}</td>
                </tr>
                {{/teacher}}
            </tbody>
  
    </table>
     <div class="float-right m-2">
         <button class="btn text-info" id="seeMoreRecords2"  onclick="location.href='/moodle/blocks/coursesinfo/block_showtable.php'" type="button">{{#str}}show_more, block_coursesinfo{{/str}}</button> 
     </div>
 </div>    
{{/teacherTable}}
