{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_message/manage


    Example context (json):
    {

    }
}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<link href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.3/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/r-3.0.2/sc-2.4.3/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.3/b-3.1.1/b-html5-3.1.1/b-print-3.1.1/r-3.0.2/sc-2.4.3/datatables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#mytable').dataTable({
                'bLengthChange': false,
            });
        })
    </script>

<div class="d-flex">
<div class="container p-2 m-3">
<h5>{{#str}}moodleformtext, local_message{{/str}}</h5>

<a href={{createmsgurl}} role="button" aria-hidden="true" class="btn btn-primary" title={{createmsg}}><i class="fa fa-plus">
</i>&nbsp;{{createmsg}}</a>
<a href={{viewmsgurl}} role="button" aria-hidden="true" class="btn btn-info" title={{viewmsg}}><i class="fa fa-eye">
</i>&nbsp;{{viewmsg}}</a>
</div>

<div class="container p-2 m-3">
<h5>{{#str}}dynamicformtext, local_message{{/str}}</h5>

<a role="button" aria-hidden="true" class="btn btn-primary" data-action="updatemodal" title="{{#str}}addtitle,
    local_message{{/str}}"><i class="fa fa-plus"></i>&nbsp;{{#str}}addtitle, local_message{{/str}}</a>
</div>
</div>

<hr class="m-0 border border-top-2 border-secondary my-3"></hr>

<div class="no-overflow">
<div class="table-responsive">
<table class="generaltable table-sm" id="mytable">
<thead class="table-dark">
    <tr>
        <th class="text-center"> {{#str}}profile, local_message{{/str}} </th>
        <th class="text-center"> {{#str}}fullname, local_message{{/str}} </th>
        <th class="text-center"> {{#str}}description, local_message{{/str}} </th>
        <th class="text-center"> {{#str}}actions, local_message{{/str}} </th>
    </tr>
</thead>
<tbody class="table-white text-center">
{{#details}}
<tr>

    <td> <img src="{{profile}}" height="50" width="50" style="border-radius:50%" alt="User Profile";> </td>
    <td>{{fullname}}</td>
    <td>{{description}}</td>
    <td class="d-flex justify-content-around">
        <a role="button" aria-hidden="true" class="text-info" data-action="viewmodal" data-id={{id}} title="{{#str}}viewdetails,
        local_message{{/str}}"><i class="fa fa-eye fa-fw"></i></a>
        {{#manage}}
        <a role="button" aria-hidden="true" class="text-primary" data-action="updatemodal" data-id={{id}} data-name={{fullname}}
        title="{{#str}}updatename, local_message{{/str}}"><i class="fa fa-pencil fa-fw"></i></a>
        <a role="button" class="text-success" href="{{profile}}" download="{{profile}}" title="{{#str}}download{{/str}}"><i class="fa fa-download">
        </i></a>
        <a role="button" aria-hidden="true" class="text-danger" data-action="deletemodal" data-id={{id}} data-name={{fullname}}
        title="{{#str}}deletename,local_message{{/str}}">{{#pix}}t/delete, core{{/pix}}</a>
        {{/manage}}
    </td>
</tr>
{{/details}}
</tbody>

</table>
{{#manage}}
<!-- <a role="button" aria-hidden="true" class="btn btn-success" data-action="uploadrecords" title="{{#str}}upload{{/str}}">
<i class="fa fa-upload"></i>&ensp;{{#str}}upload{{/str}}</a> -->
<a role="button" aria-hidden="true" class="btn btn-success" href="recordform.php" title="{{#str}}upload{{/str}}">
<i class="fa fa-upload"></i>&ensp;{{#str}}upload{{/str}}</a>
<a role="button" class="btn btn-secondary" href="download.php" title="{{#str}}download{{/str}}"><i class="fa fa-download">
</i>&ensp;{{#str}}download{{/str}}</a>
{{/manage}}


</div>
</div>




{{#js}}
    require(['local_message/messageform'], function(s) {
        s.init();
    });
{{/js}}
