{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_message/viewmsg

    TODO describe template viewmsg

    Example context (json):
    {
    }
}}
<style>
  /* Custom styles for the star icon */
  .star {
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth color transition */
  }

  .star.favorited {
    color: gold; /* Color of the filled star */
  }

  .star:hover {
    color: orange; /* Color change on hover */
  }
</style>

<table class="display" id="viewmsgtable">
  <thead class="table-dark">
    <tr>
      <th class="text-center">{{#str}}idnumber{{/str}}</th>
      <th class="text-center">{{#str}}messagetext, local_message{{/str}}</th>
      <th class="text-center">{{#str}}messagetype, local_message{{/str}}</th>
      {{#manage}}<th class="text-center">{{#str}}actions, local_message{{/str}}</th>{{/manage}}
      <th class="text-center">{{#str}}starred, local_message{{/str}}</th>
    </tr>
  </thead>
  <tbody class="table-white text-center">
    {{#messages}}
    <tr>
      <td>{{ id }}</td>
      <td>{{ messagetext }}</td>
      <td>{{ messagetype }}</td>
      {{#manage}}
      <td class="text-center">
        <a href="update.php?id={{ id }}" class="mx-2"
          ><i
            class="fa fa-pencil fa-fw"
            title="{{ updatename }}"
            aria-hidden="true"
          ></i
        ></a>

        <a
          type="button"
          class="mx-2 text-danger"
          data-modal="confirmation"
          data-modal-title-str='["delete", "core"]'
          data-modal-content-str='["areyousure"]'
          data-modal-yes-button-str='["delete", "core"]'
          data-modal-destination="/moodle/local/message/delete.php?id={{ id }}"
        >
          {{#pix}} t/delete, core, {{ deletename }} {{/pix}}
        </a>
    </td>
    {{/manage}}
      {{#fid}}
      <td>
        <span
          class="star favorited"
          data-favorited="true"
          data-action="star"
          data-id="{{ id }}"
        >
          <i class="icon fa fa-star fa-fw" aria-hidden="true"></i
        ></span>
      </td>
      {{/fid}}
      {{^fid}}
      <td>
        <span
          class="star"
          data-favorited="false"
          data-action="star"
          data-id="{{ id }}"
        >
          <i class="icon fa fa-star-o fa-fw" aria-hidden="true"></i
        ></span>
      </td>
      {{/fid}}
    </tr>
    {{/messages}}
  </tbody>
</table>

<a href="{{ manageurl }}" class="btn btn-primary">{{ actionpage }}</a>
<button
    class="btn btn-warning"
    data-action="core_payment/triggerPayment"
    data-component="enrol_fee"
    data-paymentarea="fee"
    data-itemid="{{itemid}}"
    data-cost="{{coststring}}"
    data-description="{{description}}"
>
    {{# str }} sendpaymentbutton, enrol_fee {{/ str }}
</button>

{{#js}}
    require(['core_payment/gateways_modal'], function(modal) {
        modal.init();
    });
{{/js}}