{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_message/viewmsg

    TODO describe template viewmsg

    Example context (json):
    {
    }
}}

<div class="d-flex flex-wrap">
{{#messages}}
<div class="d-flex flex-row justify-content-between border border-dark border-5 rounded p-2 w-25 m-1">

<div class="d-flex">
<p class="m-0">{{messagetext}}</p>
</div>
{{#manage}}
<div class="d-flex flex-row">
<a href="/moodle/local/message/update.php?id={{id}}" class="mx-2"><i class="fa fa-pencil fa-fw" title="{{updatename}}" aria-hidden="true"></i></a>
<a type="button"
    class="mx-2 text-danger"
    data-modal="confirmation"
    data-modal-title-str='["delete", "core"]'
    data-modal-content-str='["areyousure"]'
    data-modal-yes-button-str='["delete", "core"]'
    data-modal-destination="/moodle/local/message/delete.php?id={{id}}">
   {{#pix}} t/delete, core, {{deletename}} {{/pix}}
</a>
</div>
{{/manage}}

</div>
{{/messages}}
</div>
<a href={{manageurl}} class="btn btn-primary">{{actionpage}}</a>
