{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_notes/viewnotes

    TODO describe template viewnotes

    Example context (json):
    {
    }
}}

<style>
    /* Custom styles for the star icon */
    .star {
      cursor: pointer;
      transition: color 0.3s ease; /* Smooth color transition */
    }

    .star.favorited {
      color: gold; /* Color of the filled star */
    }

    .star:hover {
      color: orange; /* Color change on hover */
    }
</style>
<table class="display" id="viewnotestable">
  <thead class="table-dark text-center">
    <tr>
      <th>{{#str}}id, local_notes{{/str}}</th>
      <th>{{#str}}fullname, local_notes{{/str}}</th>
      <th>{{#str}}usernotes, local_notes{{/str}}</th>
      <th>{{#str}}userid, local_notes{{/str}}</th>
      <th>{{#str}}timecreated, local_notes{{/str}}</th>
      <th>{{#str}}starred, local_notes{{/str}}</th>
    </tr>
  </thead>
  <tbody class="text-center">
    {{#notes}}
    <tr>
      <td>{{ id }}</td>
      <td>{{ firstname }} {{ lastname }}</td>
      <td>{{ usernotes }}</td>
      <td>{{ userid }}</td>
      <td>
        {{#userdate}} {{ timecreated }}, {{#str}} strftimedatetime,
        core_langconfig {{/str}} {{/userdate}}
      </td>
      {{#fid}}
      <td>
        <span
          class="star favorited"
          data-favorited="true"
          data-action="star"
          data-id="{{ id }}"
          context-id="{{ linkcontextid }}"
        >
          <i class="icon fa fa-star fa-fw" aria-hidden="true"></i
        ></span>
      </td>
      {{/fid}}
      {{^fid}}
      <td>
        <span
          class="star"
          data-favorited="false"
          data-action="star"
          data-id="{{ id }}"
          context-id="{{ linkcontextid }}"
        >
          <i class="icon fa fa-star-o fa-fw" aria-hidden="true"></i
        ></span>
      </td>
      {{/fid}}
    </tr>
    {{/notes}}
  </tbody>
</table>
